<center>
	<h1>Timetracking tool</h1>
		<a href="/">Home</a><br>
		<a href="/projects">Projects</a><br>
		<a href="/projects/<%=@project.id%>/entries">Back</a>
	<h3><%= @project.name %></h3>
	
	<%= render("form") %>
</center